<%- include('header') %>

    <body>
        <div class="studentDashborad bg-light">
            <div class="container-fluid">
                <div class="row">
                    <%- include('side_bar_dashboard') -%>
                        <div class="col-md-10 table__dashboard p-0 ">
                            <%- include('search') -%>
                                <div class="col-md-12 table__main px-3">
                                    <h4 class="pt-3"><b>Add New job</b></h4>
                                    <form action="#" class="Formcss">
                                        <div class="col-md-12 form-group">
                                            <label for="course" class="form-label">Title:</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text rounded-0" id="basic-addon1"><i class="fa fa-address-card-o" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control rounded-0" placeholder="Title" aria-label="course" aria-describedby="basic-addon1" name="title">
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <label for="course" class="form-label">Step:</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text rounded-0" id="basic-addon1"><i class="fa fa-street-view" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control rounded-0" placeholder="Step" aria-label="step" aria-describedby="basic-addon1" name="step">
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <label for="course" class="form-label">Feedback:</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text rounded-0" id="basic-addon1"><i class="fa fa-commenting" aria-hidden="true"></i></span>
                                                <input type="textarea" class="form-control rounded-0" placeholder="Feedback" aria-label="course" aria-describedby="basic-addon1" name="feedback">
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <label for="course" class="form-label">Send Email:</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text rounded-0" id="basic-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                                <input type="email" class="form-control rounded-0" placeholder="Enter email" aria-label="course" aria-describedby="basic-addon1" name="email">
                                            </div>
                                        </div>
                                        <div class="btn-group-login mt-5">
                                            <a href="#" class="btn btn-magenta px-5 rounded-0"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
                                        </div>
                                    </form>
                                </div>
                        </div>
                </div>
            </div>
        </div>
        <script src="include-file/js/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                $(".hamButton").click(function() {
                    $("#menu").toggle();
                    $("#nav-item").slideDown("5000");
                });
            });
        </script>
    </body>

    </html>