<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add Job</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="include-file/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="include-file/css/font-awesome.min.css">
  <script src="include-file/js/bootstrap.bundle.min.js"></script>
  <link href="include-file/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <nav class="navbar">
    <div class="container-fluid d-flex justify-content-center">
      <a class="navbar-brand text-center" href="login.html"><img class="w-50" src="include-file/images/logo.png"></a>
    </div>
  </nav>
  <div class="addnewJob pt-3">
    <div class="container">
        <div class="main-form">
            <h2><center><b>Add new job</b></center></h2>
            <form action="#" class="Formcss">
                <div class="col-md-12 form-group">
                    <label for="course" class="form-label">Title:</label>
                    <div class="input-group mb-3">
                      <span class="input-group-text rounded-0" id="basic-addon1"><i class="fa fa-address-card-o" aria-hidden="true"></i></span>
                      <input type="text" class="form-control rounded-0" placeholder="Title" aria-label="course" aria-describedby="basic-addon1" name="title">
                    </div>
                  </div>
                <div class="col-md-12 form-group">
                    <label for="course" class="form-label">Step:</label>
                    <div class="input-group mb-3">
                      <span class="input-group-text rounded-0" id="basic-addon1"><i class="fa fa-street-view" aria-hidden="true"></i></span>
                      <input type="text" class="form-control rounded-0" placeholder="Step" aria-label="step" aria-describedby="basic-addon1" name="step">
                    </div>
                  </div>
                <div class="col-md-12 form-group">
                    <label for="course" class="form-label">Feedback:</label>
                    <div class="input-group mb-3">
                      <span class="input-group-text rounded-0" id="basic-addon1"><i class="fa fa-commenting" aria-hidden="true"></i></span>
                      <input type="textarea" class="form-control rounded-0" placeholder="Feedback" aria-label="course" aria-describedby="basic-addon1" name="feedback">
                    </div>
                  </div>
                <div class="col-md-12 form-group">
                    <label for="course" class="form-label">Send Email:</label>
                    <div class="input-group mb-3">
                      <span class="input-group-text rounded-0" id="basic-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                      <input type="email" class="form-control rounded-0" placeholder="Enter email" aria-label="course" aria-describedby="basic-addon1" name="email">
                    </div>
                  </div>
                <div class="btn-group-login mt-5">
                    <a href="#" class="btn btn-success w-100 rounded-0">Add</a>
                </div>
            </form>
        </div>
    </div>
  </div>
</body>
</html>
