<div class="col-md-2 sideBar bg-secondary">
    <div class="col-md-12">
        <div class="main-sideBar d-flex flex-column px-3 pt-2 text-white">
            <div class="logo side-bar-logo mb-4 mt-2 d-flex justify-content-between">
                <a href="/<%- type-%>-dashboard"> <img class="custom-logo" src="../images/logo.png"></a>
                <button class="hamButton"><i class="fa fa-bars" aria-hidden="true"></i></button>
            </div>
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-sm-start" id="menu">
                <li class="nav-item p-1 rounded-3" id="nav-item">
                    <a href="/<%- type-%>-dashboard" class="nav-link align-middle px-0 text-white">
                        <i class="fa fa-home" aria-hidden="true"></i> <span class="ms-1 d-sm-inline">Dashborad</span>
                    </a>
                </li>
                <!----
                <li class="nav-item p-1 rounded-3" id="nav-item">
                    <a href="/<%- type-%>-dashboard" class="nav-link align-middle px-0 text-white">
                        <i class="fa fa-eye" aria-hidden="true"></i><span class="ms-1 d-sm-inline">All jobs</span>
                    </a>
                </li>-->
                <li class="nav-item p-1 rounded-3" id="nav-item">
                    <a href="/add-department" class="nav-link align-middle px-0 text-white">
                        <i class="fa fa-plus" aria-hidden="true"></i><span class="ms-1 d-sm-inline">Add Department</span>
                    </a>
                </li>
                <li class="nav-item p-1 rounded-3" id="nav-item">
                    <a href="/add-course" class="nav-link align-middle px-0 text-white">
                        <i class="fa fa-plus" aria-hidden="true"></i><span class="ms-1 d-sm-inline">Add Courses</span>
                    </a>
                </li>
                <li class="nav-item p-1 rounded-3" id="nav-item">
                    <a href="/logout" class="nav-link align-middle px-0 text-white">
                        <i class="fa fa-sign-out" aria-hidden="true"></i><span class="ms-1 d-sm-inline">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>