<!--End HTML-->
<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../js/dataTables.bootstrap5.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    });

    $(document).ready(function() {
        $(".hamButton").click(function() {
            $("#menu").toggle();
            $("#nav-item").slideDown("5000");
        });
    });
</script>
</body>

</html>