<%- include('header') %>
    <script>
    </script>

    <body class="register__dashboard">
        <div class="bg-image register" style="background-image: url('../images/bg-image.jpg');">
            <div class="overlay_color register">

                <div class="registerDashboard pt-3">
                    <div class="container flexing-main">
                        <div class="row">
                            <nav class="col-md-12 navbar">
                                <div class="container-fluid d-flex justify-content-center">
                                    <a class="navbar-brand text-center" href="/"><img class="logo-login" src="../images/logo.png"></a>
                                </div>
                            </nav>
                            <div class="col-md-12 main-form">
                                <h2>
                                    <center><b><%- type-%> Registration</b></center>
                                </h2>
                                <form class="row mt-4 login-signup" action="register" method="post" enctype="text/html">
                                    <div class="col-md-6 form-group">
                                        <label for="firstname" class="form-label">Firstname:</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text rounded-0" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                                            <input type="text" class="form-control rounded-0" placeholder="First Name" aria-label="firstName" aria-describedby="basic-addon1" name="firstName">
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="firstname" class="form-label">Lastname:</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text rounded-0" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                                            <input type="text" class="form-control rounded-0" placeholder="Last Name" aria-label="lastName" aria-describedby="basic-addon1" name="lastName">
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label for="course" class="form-label">Email:</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text rounded-0" id="basic-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                            <input type="email" class="form-control rounded-0" placeholder="Enter email" aria-label="course" aria-describedby="basic-addon1" name="email">
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-group mb-3">
                                        <label for="coursetype" class="form-label">Department:</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text rounded-0" id="basic-addon1"><i class="fa fa-cubes" aria-hidden="course"></i></span>
                                            <select id="Department" class="form-select rounded-0" name="type">
                                           <option></option>
            
                                        </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label for="course" class="form-label">Department:</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text rounded-0" id="basic-addon1"><i class="fa fa-cubes" aria-hidden="true"></i></span>
                                            <input type="text" class="form-control rounded-0" placeholder="Department" aria-label="course" aria-describedby="basic-addon1" name="department">
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label for="course" class="form-label">Course:</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text rounded-0" id="basic-addon1"><i class="fa fa-cubes" aria-hidden="true"></i></span>
                                            <input type="text" class="form-control rounded-0" placeholder="Course" aria-label="course" aria-describedby="basic-addon1" name="course">
                                        </div>
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <label for="password" class="mb-2">Password:</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text rounded-0" id="basic-addon1"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                                            <input type="password" class="form-control rounded-0" placeholder="Enter password" aria-label="password" aria-describedby="basic-addon1" name="password">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="coursetype" class="form-label">Type:</label>
                                        <select id="selected" class="form-select rounded-0" name="type">
                                           <option selected><%- type-%></option>
            
                                        </select>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <button type="submit" class="btn btn-magenta w-100 rounded-0 text-uppercase">Sign up</button>
                                    </div>
                                    <div class="col-12 text-center mt-3">
                                        <div class="form-check">
                                            <label class="form-check-label" for="gridCheck">I AM ALREADY MEMBER </label> <a class="text-uppercase anchor-magenta" href="/" name="signupBtn">Login</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    </html>