* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.bg-image {
    background-size: 100% 100%;
    min-height: 100vh;
}

.overlay_color {
    background-color: rgba(0, 0, 0, 0.76);
    min-height: 100vh;
}

.logo-login {
    width: 240px;
}

.flexing-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

#basic-addon1 {
    width: 40px;
}


/* form */

.table_mainDiv {
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    padding: 40px 30px;
}

.main-form {
    max-width: 500px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    padding: 40px 30px;
}


/* Student dashboard */

.main-table .dataTables_filter {
    float: right;
}

.main-table .dataTables_info {
    display: none;
}

.pagination {
    justify-content: end;
}

.dataTables_length,
.dataTables_filter {
    display: none;
}


/* End Student dashborad */

.side-bar-logo {
    display: flex;
    align-items: center;
    column-gap: 70px;
}


/* Side bar css */

.btn-magenta {
    background: #D6177D;
    color: #fff;
}

.btn-magenta:hover {
    color: #fff;
}

.anchor-magenta {
    color: #D6177D;
}

.custom-logo {
    max-width: 100%;
}

.anchor-magenta:hover {
    color: #D6177D;
}

.btn-sidebar-nav {
    padding: 10px;
    text-decoration: none;
}

.paginate_button.page-item.active .page-link {
    background-color: #D6177D;
    border-color: #D6177D;
    color: #fff;
}

.paginate_button.page-item.previous .page-link {
    color: #D6177D;
}

.paginate_button.page-item.previous.disabled .page-link {
    color: #7d7d7d;
    background-color: #eee;
}

.paginate_button.page-item .page-link {
    color: #D6177D;
}


/* Home page css */

.latestupdate {
    background-color: #D6177D;
    color: #fff;
}

.banner-part-slide-show button span {
    background-color: #D6177D;
    color: #fff;
    filter: unset !important;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #D6177D !important;
    transition: 0.3s;
}

.navbar .dropdown-menu li a {
    background-color: unset !important;
}

.navbar .dropdown-menu li a:hover {
    color: #D6177D !important;
    transition: 0.3s;
}

.navbar-toggler {
    border-color: #fff !important;
}

.content-section-slide a {
    background-color: #D6177D;
    color: #fff;
    width: 150px;
    text-align: center;
    padding: 6px 10px;
    border-radius: 30px;
    text-decoration: none;
}

.carousel-indicators .active {
    background-color: #D6177D !important;
}

.about-us .number-boxes h5 {
    color: #D6177D;
}

.about-us .number-boxes {
    background-color: #f4f6f9;
    margin: 0px 15px;
    transition: 0.6s;
    border-radius: 20px;
    padding: 35px;
}

.about-us .number-boxes i {
    color: #D6177D;
    font-size: 42px;
}

.about-us .number-boxes .icon-box {
    column-gap: 20px;
}

.about-us .number-boxes:hover {
    background-color: #D6177D;
    color: #fff;
    cursor: pointer;
}

.about-us .number-boxes:hover h5 {
    color: #fff;
}

.about-us .number-boxes:hover i {
    color: #fff;
}

.about-us .number-boxes a {
    color: #D6177D;
    text-decoration: none;
    column-gap: 13px;
    display: flex;
    align-items: center;
}

.about-us .number-boxes:hover a {
    color: #fff;
}

.about-us .number-boxes a i {
    color: #D6177D;
    font-size: 20px;
}

.footer-bottom {
    background-color: #D6177D;
    color: #fff;
}

.footer-bottom .follow-section {
    column-gap: 10px;
}

.footer-menu ul {
    list-style: none;
}

.footer-menu ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 40px;
}

.footer ul li a:hover {
    color: #D6177D;
    transition: 0.3s;
}

.footer-menu .follow-section a {
    display: flex;
    column-gap: 10px;
    align-items: center;
}


/* End css */

@media screen and (min-width: 768px) {
    .sideBar .main-sideBar {
        min-height: 100vh;
    }
    .login__dashboard {
        min-height: 100vh;
    }
    .register__dashboard {
        min-height: 120vh;
    }
    .bg-image.register {
        min-height: 120vh;
    }
    .overlay_color.register {
        min-height: 120vh;
    }
    .side-bar-logo button {
        display: none;
    }
    .content-section-slide h2 {
        text-align: left;
        font-size: 40px;
        font-weight: 700;
    }
    .content-section-slide p {
        text-align: left;
    }
    .content-section-slide {
        top: 20%;
        padding: 40px;
        bottom: unset;
    }
    .content-section-slide a {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1000px) and (min-width: 780px) {
    .content-section-slide {
        top: 4%;
    }
    .about-us .number-boxes i {
        font-size: 34px;
    }
    .footer .footer-menu {
        width: 200px;
    }
    .footer .footer-menu.last {
        width: 300px;
    }
}

@media screen and (max-width: 768px) {
    .bg-image {
        min-height: 70vh;
    }
    .overlay_color {
        min-height: 70vh;
    }
    .bg-image.register {
        min-height: 100vh;
    }
    .overlay_color.register {
        min-height: 100vh;
    }
    .sideBar #menu {
        display: none;
    }
    .side-bar-logo {
        display: flex;
        align-items: center;
        column-gap: 70px;
    }
    .side-bar-logo button {
        background: transparent;
        border: none;
        color: #fff;
        font-size: 20px;
    }
    .btn-sidebar-nav {
        font-size: 13px;
        display: flex;
        justify-content: center;
        width: 133px;
    }
    .mobile-view-custom {
        column-gap: 10px;
    }
    .carousel-dark.slide img {
        min-height: 300px;
    }
}

@media screen and (max-width: 480px) {
    .custom-logo {
        max-width: 150px;
    }
}


/* checkbox  */

.design {
    text-align: left;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 4.4em;
    padding-right: 0.4em;
    height: 111px;
}

.underline {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.prof {
    position: absolute;
    margin-left: 541px;
    height: auto;
    width: 181px;
    color: green;
}

.student {
    color: #D6177D;
    width: 277px;
    height: auto;
}


/*  charting  */

.card-bordered {
    border: 1px solid #ebebeb;
}

.card {
    width: 600px;
    border: 0;
    border-radius: 0px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
    -webkit-transition: .5s;
    transition: .5s;
}

.padding {}

body {
    background-color: #f9f9fa
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px 20px;
    background-color: transparent;
    border-bottom: 1px solid rgba(77, 82, 89, 0.07);
}

.card-header .card-title {
    padding: 0;
    border: none;
}

h4.card-title {
    font-size: 17px;
}

.card-header>*:last-child {
    margin-right: 0;
}

.card-header>* {
    margin-left: 8px;
    margin-right: 8px;
}

.btn-secondary {
    color: #4d5259 !important;
    background-color: #e4e7ea;
    border-color: #e4e7ea;
    color: #fff;
}

.btn-xs {
    font-size: 11px;
    padding: 2px 8px;
    line-height: 18px;
}

.btn-xs:hover {
    color: #fff !important;
}

.card-title {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(77, 82, 89, 0.07);
}

.ps-container {
    position: relative;
}

.ps-container {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden!important;
    -ms-overflow-style: none;
}

.media-chat {
    padding-right: 64px;
    margin-bottom: 0;
}

.media {
    padding: 16px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.media .avatar {
    flex-shrink: 0;
}

.avatar {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 100%;
    background-color: #f5f6f7;
    color: #8b95a5;
    text-transform: uppercase;
}

.media-chat .media-body {
    -webkit-box-flex: initial;
    flex: initial;
    display: flow-root;
}

.media-body {
    min-width: 0;
}

.media-chat .media-body p {
    margin: 4px 0;
    border-radius: 3px;
    font-weight: 100;
}

.media>* {
    margin: 0 8px;
}

.media-chat .media-body p.meta {
    background-color: transparent !important;
    padding: 0;
    opacity: .8;
}

.media-meta-day {
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0;
    color: #8b95a5;
    opacity: .8;
    font-weight: 400;
}

.media {
    padding: 16px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.media-meta-day::before {
    margin-right: 16px;
}

.media-meta-day::before,
.media-meta-day::after {
    content: '';
    -webkit-box-flex: 1;
    flex: 1 1;
    border-top: 1px solid #ebebeb;
}

.media-meta-day::after {
    content: '';
    -webkit-box-flex: 1;
    flex: 1 1;
    border-top: 1px solid #ebebeb;
}

.media-meta-day::after {
    margin-left: 16px;
}

.media-chat-reverse {
    padding-right: 12px;
    padding-left: 64px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

.media-chat {
    padding-right: 64px;
    margin-bottom: 0;
}

.media {
    padding: 16px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.media-chat-reverse {
    float: right;
    clear: right;
    background-color: #48b0f7;
    color: #fff;
}

.media-chat .media-body p {
    /* position: relative;
    padding: 6px 8px;
   
    background-color: #f5f6f7;
    border-radius: 3px;*/
    margin: 4px 0;
}

.border-light {
    border-color: #f1f2f3 !important;
}

.bt-1 {
    border-top: 1px solid #ebebeb !important;
}

.publisher {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 20px;
    background-color: #f9fafb;
}

.publisher>*:first-child {
    margin-left: 0;
}

.publisher>* {
    margin: 0 8px;
}

.publisher-input {
    -webkit-box-flex: 1;
    flex-grow: 1;
    border: none;
    outline: none !important;
    background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

.publisher-btn {
    background-color: transparent;
    border: none;
    color: #8b95a5;
    font-size: 16px;
    cursor: pointer;
    overflow: -moz-hidden-unscrollable;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.file-group {
    position: relative;
    overflow: hidden;
}

.publisher-btn {
    background-color: transparent;
    border: none;
    color: #cac7c7;
    font-size: 16px;
    cursor: pointer;
    overflow: -moz-hidden-unscrollable;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.file-group input[type="file"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: 20px;
}

.text-info {
    color: #48b0f7 !important;
}


/* notification */

#exampleModalToggle .modal-dialog {
    max-width: 381px;
    margin: 2.75rem;
    margin-left: 1.75rem;
    margin-right: 20px;
    margin-left: auto;
    align-items: unset;
}

.modal-backdrop.show {
    background-color: unset;
    border: none;
}

.modal-content {
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.28);
}

.notify .notify_img img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.notify {
    column-gap: 14px;
}

.notify .timing {
    font-size: 10px;
    color: tan;
}


/* End css */

@media screen and (max-width: 1000px) and (min-width: 780px) {
    .content-section-slide {
        top: 4%;
    }
    .about-us .number-boxes i {
        font-size: 34px;
    }
    .footer .footer-menu {
        width: 200px;
    }
    .footer .footer-menu.last {
        width: 300px;
    }
}

@media screen and (min-width: 768px) {
    .sideBar .main-sideBar {
        min-height: 100vh;
    }
    .login__dashboard {
        min-height: 100vh;
    }
    .register__dashboard {
        min-height: 120vh;
    }
    .bg-image.register {
        min-height: 120vh;
    }
    .overlay_color.register {
        min-height: 120vh;
    }
    .side-bar-logo button {
        display: none;
    }
    .content-section-slide h2 {
        text-align: left;
        font-size: 40px;
        font-weight: 700;
    }
    .content-section-slide p {
        text-align: left;
    }
    .content-section-slide {
        top: 20%;
        padding: 40px;
        bottom: unset;
    }
    .content-section-slide a {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .bg-image {
        min-height: 70vh;
    }
    .overlay_color {
        min-height: 70vh;
    }
    .bg-image.register {
        min-height: 100vh;
    }
    .overlay_color.register {
        min-height: 100vh;
    }
    .sideBar #menu {
        display: none;
    }
    .side-bar-logo {
        display: flex;
        align-items: center;
        column-gap: 70px;
    }
    .side-bar-logo button {
        background: transparent;
        border: none;
        color: #fff;
        font-size: 20px;
    }
    .btn-sidebar-nav {
        font-size: 13px;
        display: flex;
        justify-content: center;
        width: 133px;
    }
    .mobile-view-custom {
        column-gap: 10px;
    }
    .custom-logo {
        max-width: 160px;
    }
    .carousel-dark.slide img {
        min-height: 300px;
    }
    #exampleModalToggle .modal-dialog {
        max-width: 381px;
        margin: 7.75rem;
        margin-right: auto;
        margin-left: auto;
        align-items: unset;
    }
}

@media screen and (max-width: 480px) {
    .custom-logo {
        max-width: 150px;
    }
}

.access1 {
    margin: 3px 15px 0px 0px;
    width: 23%;
}


/* End css */